:root 
{
  --black:#090909c;
  --grey:#fff;
  --white:#fff;
  --background:#fff;
}

*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--background);
  font-family: 'Poppins', sans-serif;
  background-repeat: no-repeat;
  background-size: 100%;
}